.main-container {
  display: "flex";
  justifycontent: "center";
  alignitems: "center";
  flex-direction: column;
}

#error-container {
  display: "flex";
  justify-content: "center";
  alignitems: "center";
  flex-direction: column;
}
